<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous">
    </script>
    <script src = "./js/recipes.js"></script>
    <link href = "./css/style.css" rel="stylesheet"/>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/js/bootstrap.min.js" integrity="sha512-UR25UO94eTnCVwjbXozyeVd6ZqpaAE9naiEUBK/A+QDbfSTQFhPGj5lOR6d8tsgbBk84Ggb5A3EkjsOgPRPcKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel = "stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.1/css/bootstrap.min.css" integrity="sha512-T584yQ/tdRR5QwOpfvDfVQUidzfgc2339Lc8uBDtcp/wYu80d7jwBgAxbyMh0a9YM9F8N3tdErpFI8iaGx6x5g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>Master Recipes</title>
</head>
<body>
    <div id="main" class="container-fluid">
        <div class="row">
            <div class="col" style="text-align: center;font-family: 'Comic Sans MS'; color: red; font-size: 55px">
                Master Recipes
            </div>
        </div>

        <div class="row" >
            <div class="myBorder col-3" padding = "10px">
                <div class="row ">
                    <div class=" col" style="text-align: center;font-family: 'Comic Sans MS'; color: Green; font-size: 30px">
                        <div class="myBorder ">
                            Available Recipes
                        </div>
                        <!-- <label for="recipe-name" class='form-label' font-size = "10px">Search by recipe name:</label>
                        <input type='text' class='form-control' id='recipe-name'>
                        <button type="button" class="btn btn-primary btn-sm">Search Recipe</button>
                        <button type="button" class="btn btn-secondary btn-sm">Clean Search</button> -->
                    </div>
                </div>
                <nav role="navigation">
                    <ul id="menu-recipes"></ul>
                </nav>
            </div>
            <div class="myBorder col-7">
                <div id="middle">
                    <!--selected recipe-->
                </div>
            </div>
            <div class=" myBorder col-2">
                <div id="right">
                    <div>
                        <button class="btn btn-success col-12"  onclick="add_new_recipe()">Add new Recipe</button>
                    </div>
                    <div>
                        <button id ="btnEdit" class="btn btn-warning col-12" onclick="edit_recipe()">Edit Current Recipe</button>
                    </div>
                    <div>
                        <button id ="btnDelete" class="btn btn-danger col-12" onclick="delete_recipe()"  >Delete Current Recipe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>